[Unit]
Description=Configure sshd and root user

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/sshd-configure

[Install]
WantedBy=multi-user.target
